header {
  padding: 20px 5%;
  background-color: #141414;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.head-logo {
  width: 10%;
}

.head-menu {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.head-menu a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 15px;
}
.head-search {
  display: flex;
  align-items: center;
  background-color: #373737;
  border-radius: 5px;
  padding: 3px;
  width: 45%;
}
.head-search input {
  padding: 5px 7px;
  background-color: transparent;
  border: none;
  outline: none;
  width: 95%;
  color: #fff;
}
.head-search button {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
.head-search button > svg > path {
  fill: rgba(255, 255, 255, 0.6);
}
.head-buttons a {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
}
